<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>About Corti</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Corti is a url shortener, and the name is inspired by pasta! Generally speaking, a meatier or chunkier sauce calls for a shorter pasta. So if you've got some CHONKY source, we've got you covered with a nice short copy pasta.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="/create">Try it out!</a>
  </mat-card-actions>
</mat-card>
